/* body {
  display: flex;
  flex-direction: column;
  margin: 0%;
  padding: 0%;
}

.navegacionPrincipal {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

header {
  margin-top: 10px;
  margin-bottom: 10px;
} */

